
.weekly-weather-temperature{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: rgb(220,220,220) solid 1px;
}

.weekly-weather-date{
    align-self: center;
    padding: 0 0 0 20px;
}

.weekly-weather-degree{
    align-self: center;
    padding: 0 20px 0 0;
}

.weekly-weather-icon{
    display: grid;
    grid-template-rows:  1fr auto;
    padding: 0 0 10px 0;
    div{
        justify-self: center;
        
    }
}

@media only screen and (min-width: 700px){
    .weekly-weather-wrapper{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: auto auto 1fr;
        background-color: rgba(255, 255, 255, 0.15);
    }

    .weekly-weather-temperature{
        display: grid;
        border-right: white solid 1px;
        justify-content: center;
        padding: 10px 0 10px 0;

    }

    .weekly-weather-degree{
        justify-self: end;
    }
}