
.weekly-weather-temperature{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: rgb(220,220,220) solid 1px;
}

.weekly-weather-date{
    align-self: center;
    padding: 0 0 0 20px;
    text-shadow: 1px 1px black;
}

.weekly-weather-degree{
    align-self: center;
    padding: 0 20px 0 0;
    text-shadow: 1px 1px black;
}

.weekly-weather-icon{
    display: grid;
    grid-template-rows:  1fr auto;
    padding: 0 0 10px 0;
    div{
        justify-self: center;
        text-shadow: 1px 1px black;
    }
}

@media only screen and (min-width: 800px){
    .weekly-weather-wrapper{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: auto auto 1fr;
        background-color: rgba(255, 255, 255, 0.15);
        margin: 0 0 20px 0;
        box-shadow: rgb(100, 139, 180) 0px 20px 30px -10px;
    }

    .weekly-weather-temperature{
        display: grid;
        justify-content: center;
        padding: 10px 0 10px 0;
        border-bottom: none;
    }

    .weekly-weather-degree{
        justify-self: end;
    }
}