.mobile-feed-wrapper{
    display: grid;
    grid-template-rows: auto auto auto 1fr;
    height: 100%;
}

.mobile-feed-location{
    grid-row: 1/2;

}

.mobile-feed-current-weather{
    grid-row: 2/3;

}

.mobile-feed-hourly-weather{
    grid-row: 3/4;
}

.mobile-feed-weekly-weather{
    grid-row: 4/5;
}