.hourly-weather-wrapper{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    overflow-x: scroll;
    max-width: 100vw;
    background-color: rgba(255, 255, 255, 0.438);
}

.hourly-weather-temperature{
    width: 125px;
    display: grid;
    text-align: center;
    padding: 10px 0 10px 0;

}

