.location-wrapper{
    display: grid;
    text-align: center;
    color: white;
    animation: fade 1.5s ease-in;
}

.location-city{
    font-size: 2.25em;
    text-shadow: 1px 1px black;
}

.location-date{
    font-size: 1.25em;
    text-shadow: 1px 1px black;

}

.location-time{
    font-size: 1.25em;
    text-shadow: 1px 1px black;
}

@keyframes fade{
    0%{
        opacity: 0;
    }
}