.current-weather-wrapper{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(10, 1fr);
    height: 100%;
}

.current-weather-temp{
    grid-row: 2/10;
    grid-column: 1/2;

    display: grid;
    grid-template-rows: 2fr 8fr;

    .current-weather-description{
        justify-self: center;
        align-self: end;
        font-size: 2em;
        text-shadow: 1px 1px black;
    }
    
    .current-weather-degrees{
        justify-self: center;
        align-self: baseline;
        font-size: 9em;
        text-shadow: 2px 2px black;
    }
}

.current-weather-supplementary{
    grid-row: 2/10;
    grid-column: 2/3;

    display: grid;
    grid-template-rows: 1fr 1fr;
    
    .current-weather-high{
        align-self: end;
        justify-self: baseline;
        font-size: 2em;
        border-bottom: solid black;
        padding: 0 0 5px 0;
        text-shadow: 1px 1px black;
    }
    .current-weather-low{
        align-self: baseline;
        justify-self: baseline;
        font-size: 2em;
        text-shadow: 1px 1px black;
    }
}

@media only screen and (min-width: 700px){
    .current-weather-wrapper{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
    }

    .current-weather-temp{
        grid-row:1/2;
        padding: 0 0 15px 0;
    }

    .current-weather-supplementary{
        grid-row: 2/3;
        grid-column: 1/2;
        justify-self: center;
        padding: 0 0 10px 0;
    }
}