.desktop-feed-wrapper{
    display: grid;
    grid-template-rows: auto auto auto 1fr;
    height: 100%;
    animation: fade 1s ease-in;
}

.desktop-feed-location{
    grid-row: 1/2;

}

.desktop-feed-current-weather{
    grid-row: 2/3;

}

.desktop-feed-hourly-weather{
    grid-row: 3/4;

    div{
        h2{
            margin: 0 0 10px 10px;
            text-shadow: 1px 1px black;
        }
    }
}

.desktop-feed-weekly-weather{
    grid-row: 4/5;
    div{
        h2{
            padding: 10px 0 10px 10px;
            text-align: center;
            text-shadow: 1px 1px black;
        }
    }
}

@media only screen and (min-width: 700px){
    .desktop-feed-weekly-weather{
        div{
            h2{
                text-align: start;
            }
        }
    }
}

@keyframes fade{
    0%{
        opacity: 0;
    }
}