.searchbox-wrapper{
    border: solid red;
    display: grid;
}

.searchbox-desktop-wrapper{
    border: solid blue;
    justify-self: end;
}

.searchbox-mobile-wrapper{
    border: solid purple;
    justify-self: center;
}