.searchbox-wrapper{
    display: grid;
    position: relative;
    
}

.searchbox-desktop-wrapper{
    justify-self: start;
    position: fixed;

    display: grid;
    grid-template-columns: 8fr 2fr;
    grid-template-rows: auto 1fr;
    background-color: rgba(255, 255, 255, 0.65);
    padding: 0 15px 15px 15px;
    margin: 0 0 10px 10px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: rgb(100, 139, 180) 0px 20px 30px -10px;
}

.searchbox-mobile-wrapper{
    justify-self: center;
    position: fixed;

    display: grid;
    grid-template-columns: 8fr 2fr;
    grid-template-rows: auto 1fr;
    background-color: rgba(255, 255, 255, 0.65);
    padding: 0 20px 15px 20px;
    margin: 0 0 10px 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: rgb(100, 139, 180) 0px 20px 30px -10px;
}

.searchbox-search-button{
    grid-row: 2/3;
    grid-column: 2/3;
    align-self: center;
    justify-self: center;
    cursor: pointer;
}

.searchbox-input-box{
    grid-row: 2/3;
    grid-column: 1/2;
    align-self: center;
}

.searchbox-input-instruction{
    margin: 10px 0 0 0;
    justify-self: center;
    grid-column: 1/2;
    color: black;

    &.wrong{
        color: rgb(255, 0, 0);
    }
}